
  

  div {
    display: table-cell;
    vertical-align: bottom;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-size: 160%;
    background-color:#4aaaa5;
    width: 210px;
    height: 77px;
    color: white;
    text-align: center;
    vertical-align: middle; 
    position: relative;
    right: -155px; 
  
 


  }
    header {
      border-bottom: solid;
      border-color: #cccccc;
      border-width: 2px;
    margin-bottom: 0px;
    color: #333;
    background: #ffffff;
    width: 960px;
    padding:0 200px;
  }
  ul {
    font-family: "Arial", 'Helvetica Neue', Helvetica, sans-serif;
    padding-right: 185px;
    color: #777777;
    word-spacing: 7px;
    float: right;
    list-style-type: none;
    margin: -60px
}

li {
    color: #777777;
    display: inline;
}
a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
    text-decoration: none;
}

 
section {
    margin: auto;
    padding: 200px;
    width: 960px;
    overflow: auto;
    color: #333;
    background: #eee;
    }

  #about {
    display: table-cell;
    vertical-align: bottom;
    font-family: "Georgia", Times, Times New Roman, serif;
    font-size: 160%;
    background-color:white;
    width: 150px;
    height: 50px;
    color: #4aaaa5;
    text-align: center;
    vertical-align: middle; 
    position: relative;
    right: 20px; 

  }

  aside {
    float: center;
    width: 860px;
    height: 380px;
    padding: 20px;
    margin-left: -35px;
    margin-top: -160px;
    background: #fff;
    border: 1px solid #eee; 
    border-color: #cccccc; 
      }
    
    paragraph{
      color: #777777;
    }
    image {
    
      border-color: #f8f6f6;
      border-width: 200px;
      padding: 500px;
       
    }


   
     

    footer {
        width: 960px;
        height: 50px;
        color: #777777;
        background: #666666;
        padding: 20px;
        clear: both;
        border-top: solid;
        border-color: #4aaaa5;
        border-width: 7px;
        text-align: center;
        padding:0 200px;
        
        
      
      }